services:

  web:
    env_file:
      - .env
    build: 
      context: .
    networks:
      - app-network
    ports:
      - "8000:8000"
    
    environment:
      DATABASE_URL: postgres://task_user:root@db:5432/Taskly
      REDIS_URL: redis://redis:6379/0
    depends_on:
      db:
       condition: service_healthy

  db:
    restart: always
    image: postgres:17
    environment:
      POSTGRES_DB: Taskly
      POSTGRES_USER: task_user
      POSTGRES_PASSWORD: root
    ports:
      - "5433:5433"
    networks:
      - app-network
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U task_user -d Taskly"]
      interval: 5s
      timeout: 5s
      retries: 5


  redis:
    image: redis:7
    restart: always
    command: redis-server --appendonly yes
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  celery:
    build: .
    command: celery -A main worker --loglevel=info
    networks:
      - app-network
    environment:
        CELERY_BROKER_URL: redis://redis:6379/0
        CELERY_RESULT_BACKEND: redis://redis:6379/0
    depends_on:
      - redis
      - web


networks:
  app-network:
    driver: bridge


volumes:
  db_data: